.cardsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 38px;
}

@media(max-width:688px){
    .cardsContainer{
/*        background: pink;*/
        justify-content: center;
    }
}