.singleCard{
    position: relative;
/*    background: pink;*/
    height: 360px;
    width: 280px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 50px;
    cursor: pointer;
}

.imageContainer{
    position: absolute;
    top:0;
    left:0;
    background: pink;
    height: 100%;
    width:100%;
    z-index: 0;
}

.theImage{
    height: 100% !important;
    width:100% !important;
    object-fit: cover !important;
}

.overlay{
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.overlayFooter{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.overlayFooter i{
    color: yellow;
    font-size: 28px;
    margin-right: 10px;
}

.overlayFooter>button{
    background: rgba(222,222,222,0.35);
    width: 160px;
    height: 50px;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.overlayFooter>button:hover{
    background: rgba(222,222,222,0.5)
}

.overlayFooter>div{
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingsBox{
    position: absolute;
/*    background: pink;*/
    height: 95px;
    width:20px;
    top:20px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    z-index: 3;
}

.ratingsBox>i{
    background: rgba(222,222,222,0.35);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ratingsBox>i:hover{
    background: rgba(222,222,222,0.6);
}