.navbar{
    background: linear-gradient(to bottom,#000, rgba(0,0,0,0.6),#0000);
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    z-index: 5;
/*    opacity: 0.5;*/
    color: #fff;
}

.navbar>i,
.navbar p{
    cursor: pointer;
    font-size: 18px;
}

.navbar>input{
    background: rgba(0,0,0,0.6);
    width: 40vw;
/*    min-width: 90px;*/
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color:#fff;
}


@media(max-width:550px){
     .navbar>input{
        width: 180px;
    }
}
