.navbar{
    background: linear-gradient(to bottom,#000, rgba(0,0,0,0.6),#0000);
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    z-index: 5;
/*    opacity: 0.5;*/
    color: #fff;
}

.navbar>i,
.navbar p{
    cursor: pointer;
    
}

.navbar>input{
    background: rgba(0,0,0,0.5);
    width: 600px;
    min-width: 180px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color:#fff;
}

/*
.navbar>div{
    width:50%;
    display: flex;
    justify-content: flex-start;
}
*/
