.heroSection{
    position: relative;
    height: 98vh;
    width:100%;
    
}


.imageContainer{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    z-index: -1;
}


.theImage{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

.heroCover{
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.6), rgba(0,0,0,0.98));
    height: 100%;
    width:100%;
    padding-left: 14vw;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.coverTop>h1{
    font-size: 55px;
    color: #fff;
}

.coverTop div{
/*    background: blue;*/
    height: 40px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.coverTopMid>i{
    display: flex;
    font-size: 32px;
    color: #fff;
    margin-right: 15px;
}

.active{
    color:yellow;
}

.coverTop p{
    font-size: 22px;
    color: #fff;
    margin-right: 15px;
}

.coverTop>button{
    background: rgba(81, 169, 207,0.7);
    width: 180px;
    height: 56px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 30px;
}

.coverTop>button:hover{
    background: rgba(81, 169, 207,1);
}

.coverTop>button>i{
    display: flex;
    align-items: center;
    margin-left: 5px;
}


/*SECOND SECTION*/

.secondSection{
    background: black;
    color:#fff;
    min-height: 100vh;
    width: 100%;
    padding: 9vh 8vw 5vh 8vw;
}

.recentContainer,
.recentContainer2{
/*    background: yellow;*/
    min-height: 55vh;
    width: 100%;
    margin-bottom: 60px;
}

.recentContainer2{
    margin-bottom: 20px;
}

.recentHeader{
    display: flex;
    justify-content: space-between;
}

.recentHeader>h1{
    font-size: 19px;
}

.recentHeader>p{
    cursor: pointer;
}

.cardsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 38px;
}


@media(max-width:750px){
    .coverTop>h1{
        width: 280px;
    }
}
