.topSection{
    background: pink;
    position: relative;
    height: 45vh;
}

.imageContainer{
    position: absolute;
    height: 100%;
    width:100%;
}

.theImage{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}


.heroCover{
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.45), rgba(0,0,0,0.9));
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.movieBody{
    background: #000;
    min-height: 55vh;
    padding: 5vh 23.5vw;
    color: #fff;
}

.movieBodyTop>h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.movieBodyTop>div{
    display: flex;
    align-items: center;
    font-size: 22px;
}

.movieBodyTop>div>i{
    display: flex;
/*    color:yellow;*/
    margin-right: 15px;
}

.active{
    color: yellow;
}

.movieBodyTop>div>p{
    margin-right: 15px;
}

.actionArea{
    width:75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.synopsis{
    margin: 50px 0;
}

.synopsis>h1,
.reviewContainer>h1{
    font-size: 25px;
    margin-bottom: 10px;
}



@media(max-width:780px){
    .movieBody{
        padding: 5vh 10vw;
    }
    .movieBodyTop>h1{
        font-size: 30px;
    }
}

